<main class="mt-10">
    <div class="py-10 lg:grid grid-cols-3 lg:px-16 relative">
      <section class="lg:col-span-2 lg:px-5">
        <div class="box p-5 space-y-3">
            @if (cart) {
                <ng-container>
                    @for (product of cart;let last = $last; track $index) {
                        <app-cart-item showButton="true" />
                        @if (!last) {
                        <mat-divider/>

                        }
                    }

                </ng-container>

            }
          
        </div>
      </section>

      <section class="px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0">
        @if (cart) {
            <ng-container>
                <div class="box p-5 rounded-md">
                    <p class="font-bold text-gray-500 pb-4">Price Details</p>
                    <mat-divider></mat-divider>
                    <div class="space-y-3">
                        <div class="flex justify-between pt-3">
                            <span>Total Price</span>
                            <span>₹6299</span>
                        </div>
                        <div class="flex justify-between pt-3">
                            <span>Discount</span>
                            <span class="text-green-700">-769</span>
                        </div>
                        <div class="flex justify-between pt-3">
                            <span>Delivery Charges</span>
                            <span class="text-green-700">Free</span>
                        </div>
                        <div class="flex justify-between font-semibold text-lg">
                            <span>Total Amount</span>
                            <span class="text-green-700">₹879879</span>
                        </div>

                    </div>

                    <button (click)="navigateToCheckout()" style="padding: 1.5rem;" class="text-lg mt-8 p-28 px-10 w-full " color="accent" mat-raised-button>Checkout</button>

                </div>

            </ng-container>
        }

      </section>
    </div>
  </main>