/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    /* overflow: hidden;  */
    overflow-x: hidden ;
 }

 .box{
    box-shadow: #000000 0px 5px 15px;
    padding: 15px;
 }

 
.hide-scrollbar::-webkit-scrollbar {
display: none;
}

.hide-scrollbar {
-ms-overflow-style: none;
scrollbar-width: none;
}

