<div class="container ">
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-3 lg:col-span-1">
        <div class="w-[3rem] h-[3rem]">
            <img class="w-full h-full rounded-full" src="https://placehold.co/100x40?text=Kids+Clothing" alt="">
        </div>
      </div>
      <div class="col-span-6 lg:col-span-9">
        <div class="space-y-2">
            <div>
                <p class="font-semibold text-lg"> codewithzosh</p>
                <p class="opacity-70"> Aug 26, 2023</p>
            </div>
            <div>
                <app-star-rating />
            </div>
            <p>
               nice product , i like it
            </p>
        </div>

      </div>
    </div>
  </div>