<div class="flex justify-between space-x-8 w-full">
    @for (step of steps; let last = $last;let index= $index;track $index) {
        <div class="flex justify-between items-center space-x-5">
            <div [ngClass]="{
                'bg-green-500': (activeStep == step.title && index<=step.id),
                'bg-gray-300': (activeStep!=step.title && activeStep!=='CONFIRMED'),
            }"
            class="h-8 w-8 rounded-full flex justify-center items-center"
            >
            <mat-icon>check_circle_outline</mat-icon>
            </div>
            <span class="text-gray-950">
                {{step.title}}
            </span>
            @if (!last) {
                <div class="lg:w-[14vw]">
                    <mat-divider [ngClass]="{
                        'text-green-500':activeStep==step.title,
                        'text-gray-500':activeStep!=step.title
                    }">
                    </mat-divider>
                </div>
            }
        </div>
    }
</div>